:host {
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 12px;
    border-radius: 12px;
    min-width: 200px;

    .toggle-button {
        cursor: pointer;
    }

    .definition-list {
        font-size: 0.8rem;
        div {
            display: flex;
            justify-content: space-between;
            > span {
                display: block;
            }
        }
    }
}