

:host {

    ::ng-deep {
        svg {
            fill: red;
        }
        .leaves {
        }
    
        .petal {
            fill: white;
        }
        .flower-inner {
            fill: pink;
        }
    }
}