

:host {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
    overflow: hidden;

    .genes-container {
        position: absolute;
        right: 12px;
        top: 12px;
    }

    svg {
        display: block;
    }
}