@for(leaf of leaves(); track leaf) {
    <div class="leaf-visualization">
        <div class="leaf-visualization-inner">
            <svg width="100%" height="100%" preserveAspectRatio="xMidYMax slice" viewBox="-4 -8 16 16" (click)="copyMarkup($event)">
                <path class="leaf" [attr.d]="leaf.path" />
                <path class="crosshair" d="M -.5 0 H 0.5 M 0 -.5 V .5"></path>
                
                <path class="crosshair" d="M 10 -1 V 1"></path>
                <text x="10" y="0">10</text>
            </svg>
        </div>
        <p class="datapoint">leafType <span>{{leaf.genes.leafType}}</span></p>
        <p class="datapoint">leafSubCount <span>{{leaf.genes.leafSubCount.toFixed(3)}}</span></p>
        <p class="datapoint">leafSubPointyness <span>{{leaf.genes.leafSubPointyness.toFixed(3)}}</span></p>
        <p class="datapoint">leafElongation <span>{{leaf.genes.leafElongation.toFixed(3)}}</span></p>
        <p class="datapoint">leafDefects <span>{{leaf.genes.leafDefects.toFixed(3)}}</span></p>
    </div>
}